body{
	background-image: url("pp-2.jpg");
	background-repeat: none;
	background-size: cover;
}
body #p{
	text-align: center;
	font-size: 20px; 
	padding-left: 70px;
}

body form{
	background-color: rgba(128, 255, 128, 0.5);;
	padding: 20px;
	margin-top: 200px;
}
body form #label a{
	padding-left: 70px;
	text-align: center;
	font-size: 15px;
	color: green;
	text-decoration: none;
}


body form #input{
	margin-bottom: 1px;
	width: 100%;
}
footer .col-md-5 #col-4 ul li img{
	width:25px;
	float:left;
	margin-right:5px;
	margin-left:30px;
}